.addNote {
	background-color: transparent;
    border: none;
    cursor: pointer;

}

.addNote img {
    width: 5em;
    transition: transform .3s;
}

.addNote img:hover {
    transform: scale(1.1);

}